/* general style sheet */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
    font-size: 16px;
    scroll-behavior: smooth;
    max-width: 100%;
    min-height: 100%;
}

html {
    font-size: 110%;
}

@media(min-width:60em) {
    html {
        font-size: 90%
    }
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    padding: 10px 20px;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 22px;
}

/* END OF BIG SCREEN */
@media screen and (max-width:1280px) {

    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited {
        padding: 10px 20px;
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
        font-size: 16px;
    }
}